<%= form_for @story, :html => {:multipart => true} do |f| %>

<div class="storyactionbar">
  <ul class="story-actions-btns">
    <li><%= link_to @story, method: :delete, data: { confirm: "Are you sure you want to delete this story?" } do %>
        <button class="btn btn-small" title="Delete this post">Delete</button>
      <% end %>
    </li>
    <li><%= f.submit "Save Changes", :class => "btn btn-small", :title => "Save Changes" %>
    </li>
    <li><%= link_to "Publish", publish_story_path(@story), :name => "commit", :type => "submit", :class => "btn btn-primary btn-small btn-publish green_button", :title=> "Publish" %>
    </li>
  </ul>
</div>
<div class="story-content-inner">

  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="storyphotowrapper" data-toggle="tooltip" title="Add feature image">
      <i class="icon-picture"></i>
      <input id="storyphoto_photo" name="storyphoto[photo]" type="file">
    </div>
    <%= f.text_area :title, :rows => 1, :placeholder => "Type your tale's title" %> 
    <%= f.text_area :lesson, :rows => 1, :placeholder => "Morale of this tale" %>
    <%= f.text_area :characters, :rows => 1, :placeholder => "Which family members are featured in this tale? (separate by comma)" %>
    <textarea cols="40" id="story_body" name="story[body]" placeholder="Type your family tale" rows="20" tabindex="-1" style="width:100%"><%= if !@story.body.nil?; @story.body; end %> </textarea>
  <div class="actions">

    
  </div>
<% end %>
</div>