<div class="container main">
  <div class="row stories">


    <!-- <div class="col-md-4">
      <div class="tile signup">
        <div class="slogan">
          Family stories are meant to be passed on. Sign up to share yours today.
        </div>
        <form role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="button" class="btn btn-success btn-lg">Sign up now</button>
        </form>
      </div>
    </div> -->
  <% @counter = 0 %>
  <% @covercolor = ['rgba(71, 176, 153, 0.33)','rgba(107, 154, 187, 0.33)','rgba(206, 83, 70,0.33)','rgba(232, 170, 74, 0.33)'] %>
  <% @stories.each do |story| %>
    
    <div class="col-md-4">
      <%= link_to story do %>
      <div class="storyCoverTitle">
        <div class="story-title">
          <h3 class="covertitle"><%= story.title %></h3>
          <h4 class="coversubtitle"><%= story.user.name %></h4>
        </div>
      </div>
      <div class="storyCoverWrapper" style="background:<%= @covercolor.sample%>">
      <% if not story.storyphotos.where(:featured => true).blank? %>
        <%= image_tag story.storyphotos.where(:featured => true).first.dynamic_photo_url("350x300#"), :class => "storycover" %>
      <% end %>
        <span class="hoverMask" ></span>
      </div>
      
      <% end %>
    </div>
    <% @counter = @counter + 1 %>
    <% if @counter % 3 == 0 %>
      </div>
      <div class="row stories">
    <% end %>
  <% end %>


<br />

  </div>
  <div class="apple_pagination">
  <%= will_paginate @stories %>
  </div>
</div>