<% provide(:title, @story.title) %>

<div class="container" >
  <div class="row">
    <div class="col-md-2 story-side">
    	<div class="sidebar-item storylesson">
	    	<p><strong>Moral of this tale</strong></p>
	    	<p><%= @story.lesson %>
	    	</p>
	    </div>
    	<div class="sidebar-item story-characters">
    		<p><strong>This tale features</strong></p>
    			<% if not @story.characters.nil? and @story.characters != "" %>
    				<% @story.characters.split(',').each do |c| %>
    					<p class="storycharacter"><%= c %></p></br>
    				<% end %>
    			<% else %>
    				<p class="storycharacter">Me</p></br>
    			<% end %>
	    </div>
	    
    </div>
    <div class="col-md-8">
    	
      <h1 class="heading"><strong><%= @story.title %></strong></h1>
       <!-- <h3 class="subtitle"><em><%= @story.subtitle %></em></h3> -->
      <h5><span class="name"><%= link_to @storyauthor, :class => "story-author-name", :title => "Go to the profile of " + @storyauthor.name do %><%= @storyauthor.name %><% end %></span> <span class="text-muted"> | <%= @story.updated_at.strftime("%b %d, %Y") %></span></h5></span>
      <% if current_user?(@story.user) %>
      <div class="showstoryactionbar">
			  <ul class="show-story-actions-btns">
			    <li><%= link_to @story, method: :delete, data: { confirm: "Are you sure you want to delete this story?" } do %>
			        <button class="btn btn-small" title="Delete this post">Delete</button>
			      <% end %>
			    </li>
			    <li><%= link_to 'Edit', edit_story_path(@story), :class => "btn btn-small btn-primary green_button", :title => "Edit story" %> 
			    </li>
			  </ul>
			</div>
      <% end %>
 			<% if not @story.storyphotos.where(:featured => true).blank? %>
 				<%= image_tag @story.storyphotos.where(:featured => true).first.dynamic_photo_url("750>x350"), :class => "img-rounded img-responsive" %>
 			<% end %>
 			<span class="articletext">
			<%= if !@story.body.nil?; @story.body.html_safe; end %>
			</span>
			<%= render 'shared/socialshare' %>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="story-author-card">
				<div class="col-md-2">
    		<%= link_to @storyauthor, :class => "story-author-image", :title => "Go to the profile of " + @storyauthor.name do %>
		    <img src="<%= @storyauthor.tweet_avatar %>" alt="">
		    <% end %>
		    </div>
		    <div class="col-md-8">
		    <div class="story-author-info"><%= link_to @storyauthor, :class => "story-author-name", :title => "Go to the profile of " + @storyauthor.name do %><%= @storyauthor.name %><% end %>
		    <p>
		    	<%= @storyauthor.bio %>
		    </p>
		    </div>
		    </div>
	    </div>
	    </div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<%= render 'layouts/footer' %>
		</div>
	</div>
      
</div><!-- /.container -->

<%= render 'shared/signup_modal' %>