<!DOCTYPE html>
<html>
<head>
    <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>

	

</body>
</html>
